@model IEnumerable<SmartSignature.Models.User>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User</title>
</head>
<body>
    <h1>User</h1>
    <p>
        <a asp-controller="User" asp-action="Register">New user</a>
    </p>
    @if (@TempData["Message"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Message"]
        </div>
    }
    <table class="table" border="1">
        <tr>
            <!-- Caixa is the national bank -->
            <th>Caixa's account</th>
            <th>Password</th>
            <th>Name</th>
            <!-- RG is the Brazilian ID -->
            <th>RG</th>
            <!-- CPF is another national ID for Brazilian citizens -->
            <th>CPF</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <label>@item.CaixaAccount</label>
                </td>
                <td>
                    <label>@item.Password</label>
                </td>
                <td>
                    <label>@item.Name</label>
                </td>
                <td>
                    <label>@item.Rg</label>
                </td>
                <td>
                    <label>@item.Cpf</label>
                </td>
                <td>
                    <a asp-controller="User"
                       asp-action="Edit"
                       asp-route-id="@item.CaixaAccount">Edit</a>
                    <a asp-controller="User"
                       asp-action="List"
                       asp-route-id="@item.CaixaAccount">List</a>
                    <a asp-controller="User"
                       asp-action="Delete"
                       asp-route-id="@item.CaixaAccount">Delete</a>
                </td>
            </tr>
        }
    </table>
</body>
</html>